<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina principal</title>
  <h1>Informe as medidas</h1>
  <nav>
    <ul>
      <li><strong>Colortech</strong></li>
    </ul>
    <ul>

      <li>
        <details class="dropdown">
          <summary>
            Conta
          </summary>
          <ul dir="rtl">
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Configurações</a></li>
            <li><a href="#">Segurança</a></li>
            <li><a href="/">Encerrar sessão</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
  
</head>

<body>
  
  <form id="+adicionarmedidas">
    <div id="container-medidas">
      
      <div class="campo-linha">
        <input type="number" name="Largura" placeholder="Largura" aria-label="Number">

        <input type="number" name="Altura" placeholder="Altura" aria-label="Number">

        <input type="number" name="Quantidade1" placeholder="Quantidade1" aria-label="Number">

        <input type="color" value="#ff9500" aria-label="Color picker">
      </div>
    </div>

    <button type="button" onclick="adicionarCampo()">Adicionar medidas</button>

  </form>

</body>

</html>