<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colortech</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <h1>Login</h1>
    <h2>Área do cliente</h2>
</head>
<body>
    <main class="container-fluid"> 
        <form>
            <fieldset>
                <label>
                  Usuário
                  <input
                    name="Usuário/Email"
                    placeholder="Usuário ou Email"
                    autocomplete="given-name"
                  />
                </label>
                <label>
                  Senha
                  <input
                    type="Senha"
                    name="Senha"
                    placeholder="Senha"
                    autocomplete="Senha"
                  />
                </label>
              </fieldset>
            
              <input type="button" value="Entrar" onclick="window.location.href='http://127.0.0.1:5000/orcamento'">

              
            
          </form>
    </main>
</body>
</html>